.root {
	-fx-background-color: rgba(0, 0, 0, 1);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab {
    -fx-background-color: black;
    -fx-border-width: 0.0 0.0 2.0 0.0;
    -fx-border-color: transparent;
}

.tab-pane .tab .label {
    -fx-alignment: CENTER;
    -fx-text-fill: #eee;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-background-color: transparent;
}

.tab-pane .tab:selected {
    -fx-border-color: transparent transparent #444 transparent;
	-fx-font-weight: bold;
}

.tab-pane .tab:hover {
    -fx-border-color: #666;
}

.tab-pane .tab:selected .label {
    -fx-text-fill: white;
	-fx-font-weight: bold;
}

.tab-pane .tab:hover .label {
	-fx-font-weight: bold;
}

.tab-pane .tab:selected .focus-indicator {
    -fx-border-width: 0;
}